<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <div class="container">
      <%- include("partials/navbar.ejs") %>

      <div class="jumbotron">
        <h1 class="display-4">My blog</h1>
        <p class="lead">This is a Node Js based blog.</p>
        <hr class="my-4" />
        <p>To add new posts, please login.</p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
