<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <div class="container">
      <%- include("partials/navbar.ejs") %>

      <div class="alert alert-success" role="alert">
        Thank you for registration, <%- formData.name %>!
      </div>
      <p>You can now <a href="/login">Login</a></p>
    </div>

    <!-- JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
